@use "../abstract/variables" as var;

.footer_top {
  border-bottom: 1px solid var.$light-gray;
  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;

    li {
      color: var.$mid-gray;
      max-width: 250px;
      font-size: 13px;
      display: flex;
      align-items: center;
      gap: 10px;

      a {
        line-height: 19px;
        color: var.$mid-gray;

        &:hover {
          color: #000;
        }
      }
    }
  }

  h5 {
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
  }

  .phone,
  .envelope {
    display: flex;
    flex-direction: column;
    line-height: 0px;
    margin-top: 20px;
  }

  .links {
    display: flex;
    gap: 20px;

    .link {
      width: 36px;
      height: 36px;
      cursor: pointer;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.1);
        transition: transform 0.3s;
        box-shadow: 0px 0px 10px 5px gainsboro;
      }
    }
  }
}
